
@using Eshop.Business.StaticTools
@model Eshop.ViewModel.Article.CreateArticleViewModel
@{
    ViewBag.Title = "افزودن مقاله";
}

<!-- Page Breadcrumb -->
<div class="page-breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#">خانه</a>
        </li>
        <li class="active">مدیریت مقالات</li>
        <li class="active">افزودن مقاله جدید</li>
    </ul>
</div>
<!-- /Page Breadcrumb -->
<!-- Page Header -->
<div class="page-header position-relative">
    <div class="header-title">
        <h1>
            افزودن مقاله
        </h1>
    </div>
    <!--Header Buttons-->
    <div class="header-buttons">
        <a class="sidebar-toggler" href="#">
            <i class="fa fa-arrows-h"></i>
        </a>
        <a class="refresh" id="refresh-toggler" href="">
            <i class="glyphicon glyphicon-refresh"></i>
        </a>
        <a class="fullscreen" id="fullscreen-toggler" href="#">
            <i class="glyphicon glyphicon-fullscreen"></i>
        </a>
    </div>
    <!--Header Buttons End-->
</div>
<!-- /Page Header -->
<!-- Page Body -->
<div class="page-body">
    <div class="row">
        <div class="col-md-12">

            @if (ViewBag.SelectImage)
            {
                <div class="alert alert-warning col-md-12">
                    لطفا تصویری برای مقاله انتخاب کنید
                </div>
            }

            @if (ViewBag.SelectCategories)
            {
                <div class="alert alert-warning col-md-12">
                    لطفا گروه های مقاله را انتخاب کنید
                </div>
            }

            @if (ViewBag.ArticleText)
            {
                <div class="alert alert-warning col-md-12">
                    لطفا متن مقاله را وارد کنید
                </div>
            }

            @using (Html.BeginForm("CreateArticle", "ManageArticles", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <input type="number" value="1" name="@nameof(Model.ArticleID)" hidden />
                <div class="row">
                    <div class="col-md-9">
                        <div class="col-lg-12 col-sm-12 col-xs-12">
                            <div class="widget flat radius-bordered">
                                <div class="widget-header bg-green">
                                    <span class="widget-caption">فرم ثبت مقاله</span>
                                </div>
                                <div class="widget-body">
                                    <div id="registration-form">
                                        <div class="form-group col-md-12">
                                            @Html.EditorFor(model => model.ArticleTitle, new { htmlAttributes = new { @class = "form-control", PlaceHolder = Html.DisplayNameFor(m => m.ArticleTitle) } })
                                            @Html.ValidationMessageFor(model => model.ArticleTitle, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group col-md-12">
                                            @Html.EditorFor(model => model.ShortDescription, new { htmlAttributes = new { @class = "form-control animated", PlaceHolder = Html.DisplayNameFor(m => m.ShortDescription) } })
                                            @Html.ValidationMessageFor(model => model.ShortDescription, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group col-md-12">
                                            <label>
                                                متن مقاله
                                            </label>
                                            <span class="input-icon icon-right cke_rtl">
                                                @Html.TextAreaFor(model => model.ArticleText)
                                            </span>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="form-group col-md-12">
                                            <div class="alert alert-info">
                                                تگ ها را با فشردن اینتر از هم جدا کنید
                                            </div>
                                            <input type="text" value="@Model.ArticleTags" name="@nameof(Model.ArticleTags)" data-role="tagsinput" placeholder="تگ ها را وارد کنید" id="Tags" />
                                        </div>
                                        <div class="col-md-3">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" class="colored-success" name="@nameof(Model.IsActive)" @((Model.IsActive) ? "checked" : "") value="true">
                                                    <span class="text">فعال / غیر فعال</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" class="colored-success" name="@nameof(Model.CanInsertComment)" @((Model.CanInsertComment) ? "checked" : "") value="true">
                                                    <span class="text">@Html.DisplayNameFor(model => model.CanInsertComment)</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <hr />
                                        <div class="col-md-3">
                                            <button type="submit" class="btn btn-block btn-success">افزودن</button>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="widget flat radius-bordered">
                            <div class="widget-header bg-green">
                                <span class="widget-caption">تصویر مقاله</span>
                            </div>
                            <div class="widget-body">
                                <div id="registration-form">
                                    <div class="form-group col-md-12">
                                        <img id="ArticleImage" src="@PathTools.NoPhoto" alt="your image" class="Input-picture" />
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="form-group col-md-12">
                                        <span class="file-input btn btn-azure btn-file btn-block">
                                            تصویر <input type="file" id="ArticleImageInput" name="articleImage">
                                        </span>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="widget flat radius-bordered">
                            <div class="widget-header bg-green">
                                <span class="widget-caption">انتخاب گروه ها</span>
                            </div>
                            <div class="widget-body">
                                <div id="registration-form">
                                    @foreach (var item in Model.Categories)
                                    {
                                        <ul class="UlList">
                                            <li id="C_@item.CategoryID">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox" class="colored-success" value="@item.CategoryID" name="@nameof(Model.SelectedCategories)" id="@item.CategoryID" onchange="LoadSubCategory(@item.CategoryID)">
                                                        <span class="text">@item.Title</span>
                                                    </label>
                                                </div>
                                            </li>
                                        </ul>
                                    }
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/Areas/Admin/Content/TagInput/bootstrap-tagsinput.js"></script>
    <script src="~/Areas/Admin/Content/CustomJs/ManageArticles.js"></script>
    <script src="~/Areas/Admin/Content/CustomJs/ResizeTextArea.js"></script>
    <script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
    <script src="~/Scripts/jquery.js"></script>
    <script>
        $(function () {
            CKEDITOR.replace('ArticleText', {
                customConfig: '/Content/js/config.js'
            });
        });
    </script>
}
