@using Eshop.Business.StaticTools
@using Eshop.Business.Users
@using Eshop.Utilitiy.Convertor
@model Tuple<int, IEnumerable<Eshop.DomainClass.Articles.ArticleComment>>

@if (Model.Item2.Any())
{
    foreach (var comment in Model.Item2.Where(s => s.ParentID == null))
    {
        <li class="ticket-item well" id="Comment_Box_@comment.CommantID">
            <div class="row">
                <div class="ticket-user col-lg-9 col-sm-12">
                    <a href="/Admin/ManageUsers/GoToUserPanel/@comment.UserID" title="پنل ادمین">
                        <img src="@PathTools.UserAvatarDefaultPathWithImage" class="user-avatar">
                    </a>
                    <a href="/Profile/@UserManager.FixetTextForUrl(comment.User.UserName)" title="پنل کاربری">
                        <span class="user-name">@comment.User.UserName</span>
                    </a>
                </div>
                <div class="ticket-time  col-lg-3 col-sm-6 col-xs-12">
                    <div class="divider hidden-md hidden-sm hidden-xs"></div>
                    <i class="fa fa-clock-o"></i>
                    <span class="time">@comment.CreateDate.ToStringShamsiDate()</span>
                </div>
                <div class="ticket-type height-auto col-lg-12 col-sm-6 col-xs-12">
                    <p>
                        @Html.Raw(comment.Comment)
                    </p>
                    <hr />
                    <a href="/Admin/ManageArticles/EditComment/@comment.CommantID" class="btn btn-warning">ویرایش</a>
                    <div class="btn btn-danger" onclick="DeleteArticleComment(@comment.CommantID)">
                        حذف
                    </div>
                </div>
                <div class="clearfix"></div>
                <br />
                <div class="ticket-state bg-palegreen">
                    <i class="fa fa-check"></i>
                </div>
                <div class="clearfix"></div>
            </div>
            @if (comment.ArticleComments.Any())
            {
                <ul>
                    @foreach (var sub in comment.ArticleComments)
                    {
                        <li class="ticket-item well" id="Comment_Box_@sub.CommantID" style="list-style-type: none">
                            <div class="row">
                                <div class="ticket-user col-lg-9 col-sm-12">
                                    <a href="/Admin/ManageUsers/GoToUserPanel/@comment.UserID" title="پنل ادمین">
                                        <img src="@PathTools.UserAvatarDefaultPathWithImage" class="user-avatar">
                                    </a>
                                    <a href="/Profile/@UserManager.FixetTextForUrl(comment.User.UserName)" title="پنل کاربری">
                                        <span class="user-name">@sub.User.UserName</span>
                                    </a>
                                </div>
                                <div class="ticket-time  col-lg-3 col-sm-6 col-xs-12">
                                    <div class="divider hidden-md hidden-sm hidden-xs"></div>
                                    <i class="fa fa-clock-o"></i>
                                    <span class="time">@sub.CreateDate.ToStringShamsiDate()</span>
                                </div>
                                <div class="ticket-type height-auto col-lg-12 col-sm-6 col-xs-12">
                                    <p>
                                        @Html.Raw(sub.Comment)
                                    </p>
                                    <hr />
                                    <a href="/Admin/ManageArticles/EditComment/@sub.CommantID" class="btn btn-warning">ویرایش</a>
                                    <div class="btn btn-danger" onclick="DeleteArticleComment(@sub.CommantID)">
                                        حذف
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <br />
                                <div class="ticket-state bg-palegreen">
                                    <i class="fa fa-check"></i>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <ul></ul>
                        </li>
                    }
                </ul>
                <div class="clearfix"></div>
                <br />
            }
        </li>
    }
    <div class="comments-list" id="comment-list-@(Model.Item1+1)"></div>

}
else
{
    <hr />
    <div class="alert alert-warning">
        نظر دیگری وجود ندارد
    </div>
}