@model Eshop.DomainClass.Product.ProductGroup

<!-- Page Breadcrumb -->
<div class="page-breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#">خانه</a>
        </li>
        <li class="active">مدیریت محصولات</li>
        <li class="active">افزودن گروه جدید</li>
    </ul>
</div>
<!-- /Page Breadcrumb -->
<!-- Page Header -->
<div class="page-header position-relative">
    <div class="header-title">
        <h1>
            افزودن گروه
        </h1>
    </div>
    <!--Header Buttons-->
    <div class="header-buttons">
        <a class="sidebar-toggler" href="#">
            <i class="fa fa-arrows-h"></i>
        </a>
        <a class="refresh" id="refresh-toggler" href="">
            <i class="glyphicon glyphicon-refresh"></i>
        </a>
        <a class="fullscreen" id="fullscreen-toggler" href="#">
            <i class="glyphicon glyphicon-fullscreen"></i>
        </a>
    </div>
    <!--Header Buttons End-->
</div>
<!-- /Page Header -->
<!-- Page Body -->
<div class="page-body">
    <div class="row">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            @if (ViewBag.UrlError)
            {
                <div class="alert alert-warning">
                    عنوان لینک از قبل وجود دارد
                </div>
            }
            @using (Html.BeginForm("CreateGroup", "ManageProducts", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <input type="checkbox" name="@nameof(Model.IsDelete)" value="true" hidden />
                <input type="number" name="@nameof(Model.ParentId)" value="@ViewBag.parentId" hidden />
                <div class="row">
                    <div class="col-md-12">
                        <div class="widget flat radius-bordered">
                            <div class="widget-header bg-green">
                                <span class="widget-caption">افزودن گروه</span>
                            </div>
                            <div class="widget-body">
                                <div id="registration-form">
                                    <div class="form-group col-md-4">
                                        <span class="input-icon icon-right">
                                            @Html.EditorFor(model => model.GroupTitle, new { htmlAttributes = new { @class = "form-control", PlaceHolder = Html.DisplayNameFor(m => m.GroupTitle) } })
                                            @Html.ValidationMessageFor(model => model.GroupTitle, "", new { @class = "text-danger" })
                                            <i class="fa fa-group circular"></i>
                                        </span>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <span class="input-icon icon-right">
                                            @Html.EditorFor(model => model.NameInUrl, new { htmlAttributes = new { @class = "form-control", PlaceHolder = Html.DisplayNameFor(m => m.NameInUrl) } })
                                            @Html.ValidationMessageFor(model => model.NameInUrl, "", new { @class = "text-danger" })
                                            <i class="fa fa-link circular"></i>
                                        </span>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <button type="submit" class="btn btn-success btn-block">ثبت گروه</button>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>